html {
background-color: whitesmoke;
width: 900px;
}

.card {
background-color: white;
padding: 200px;
width: 1000px;
height: 350px;
padding: 5.6%;
margin: 4.2%;
color: #708090;
}

.card .left-image {
width: 50%;
float: left;
height: 100%;
}

.card .right-text {
width: 50%;
float: right;
}

.right-text {
background-color: whitesmoke;
font-size: 20px;
height: 250px;
}

.right-text p {
font-weight: 300;
padding-left: 31px;
}

.right-text p b {
    font-weight: 700;
}

.right-text p a {
    color: #708090;
    text-decoration: none;
}

.left-image {
    text-align: center;
}

.left-image h1 {
font-weight: 700;
font-size: x-large;
}

.left-image h2 {
font-style: italic;
font-size: large;
font-weight: 300;
}

.left-image img {
width: 225px;
height: auto;
border-radius: 50%;
}
