html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.main {
    padding: 2rem;
}

body {
    background-color: lightgray;
}

header {
    background-color: wheat;
    margin-bottom: 0;
}

h1, h2 {
    text-align: center;
    margin-bottom: 0;
}

h2 {
    padding-bottom: .5em;
}

ul li {
    display: inline;
}

.col-2 {
   text-align: right;
}

.container {
    padding: 2% 0;
    background-color: wheat;
    font-weight: bold;

}

.container1 {
    padding: 2%;
    font-weight: bold;
}

#result {
    text-align:center;
    display: none;
}

.navbar-nav {
    font-size: 1.25em;
}

#button-div {
    text-align:center;
}

.col {
    border: 2px solid black;
    text-align: center;
}

.row {
    margin: 0 auto;
}

.card {
    text-align: center;
}

