// Import partials here
@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
@import 'components.content';
// Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
