.jumbotron {
  background-image: url(../seattle-map.png);
  background-size: cover;
  opacity: 0.8;
  height: 30vh;
  border-bottom: 2px solid gray;
  border-top: 2px solid gray;
}

/* Use this for a centered navbar */
/* .flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../seattle-map.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.navbar {
  background-color: #ffb366;
  opacity: 1;
} */
