// Import partials here
@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
@import 'components.content';
/* Use of Grids */
main{
  display:grid;
  grid-template-rows:auto auto auto auto;
}
header{
  background-color: rgb(241, 53, 43);
  width:100%;
  h1{
  color: white;
  font-family: HelveticaNeue, "Helvetica Neue";
  text-align: center;
  }
}
a{
  color: white;
  text-align: center;
}
/* Use of Flexboxes*/
nav{
  width:100%;
  background-color: rgb(122, 203, 0);
  padding:1rem;
  display: flex;
  justify-content: center;
  p{
  color: white;
  font-family: HelveticaNeue, "Helvetica Neue";
  margin:auto;
  }
}
/* Use of Flexbox */
content{
  width: 100%;
  display:flex;
  .sidebar{
    background-color: #f1efef;
    flex:20%;
    padding: 2rem;
    .card{
      display:flex;
      flex-direction:column;
    }
    p{
      padding:5px;
      color:#2424fb;
      font-weight: bold;
    }
    span{
      font-size: 1rem;
      padding:5px;
      color:#a2a0a0;
    }
    }
  /* Use of Grids */
  .content--mainContent{
    flex: 70%;
    background-color: #f1efef;
    display:grid;
    grid-template-rows: auto auto;
    .row{
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap:1rem;
      .col{
        padding:1rem;
        .card{
          background-color: #e2dcdc;
          border-radius: 15%;
          display:grid;
          grid-template-rows:auto auto;
          img{
            border-top-left-radius: 15%;
            border-top-right-radius: 15%;
            height: 100px;
            width:100%;
          }
          .desc{
          padding:0 1.5rem;
          }
        }
      }
    }
  }
}
footer{
  text-align: center;
  color:white;
  padding:1rem;
  background-color:rgb(21, 15, 150);
}
