*{
  box-sizing: border-box;
}

/* ***Colors used in styling site:***
Green (#00cc00)
White (#ffffff)
Blue (#00394d)
Light grey (#e6e6e6)
Yellow (#e6e600)
Black (#000000)
 */

 body {
   font-family: 'Arial', sans-serif;
   color: #000099;
 }

 section {
   border: solid #0066cc;
   margin-top: 1rem;
   margin-bottom: 1rem;
 }

 h1 {
   margin-top: 0.5rem;
 }

 button {
   margin-bottom: 1rem;
 }
