html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.main {
    padding: 2rem;
}

h4 {
    color: $red;
}


.static-block {
  &__title {
  margin: 4rem 0 0;
  font-size: 1.5rem;
  font-family: arial, helvetica, sans-serif;
  font-weight: 400;
  }
  &__copy {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-family: arial, helvetica, sans-serif;
  }

  &__img {
  display: block;
  max-width: 100%;
  margin: auto;
  }
  &__content {
  border-bottom: 1px solid $black;
  margin: 2rem auto;
  }

  &:only-of-type {
    .static-block__content {
    border: none;
    }
  }

  &:last-of-type {
    .static-block__content {
    border: none;
    }
  }
}
