//Color Declaration
$white : white;
$black : black;

//Fonts Size Declaration
$lg-fonts-size : 2.5em; //Used in Receipe Box
$md-fonts-size : 1.3em; // For Introduction Text
$sm-fonts-size : 1.1em; // For Navigation Text
