body {
  margin: 0;
  padding: 0;
}
.main {
  text-align: center;
  margin-top: 20%;
  margin-left: 20%;
  width: 200px;
  height: 200px;
  transition: width 5s;
}
.main:hover {
  width: 300px;
  background: linear-gradient(to bottom right, red, yellow);
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
