label .hamburger {
  position: absolute;
  top: 25%;
  right: 75%;
  width: 30px;
  height: 2px;
  background: #01c1d6;
  display: block;
  transform-origin: center;
  transition: .5s ease-in-out; }

label .hamburger:after, label .hamburger:before {
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #ff6600; }

label .hamburger:before {
  top: -10px; }

label .hamburger:after {
  bottom: -10px; }

label input {
  display: none; }

label input:checked + .menu {
  box-shadow: 0 0 0 100v #ffffff, 0 0 0 100vh #ffffff;
  border-radius: 0; }

label input:checked + .menu .hamburger {
  transform: rotate(45deg); }

label input:checked + .menu .hamburger:after {
  transform: rotate(90deg);
  bottom: 0; }

label input:checked + .menu .hamburger:before {
  transform: rotate(90deg);
  top: 0; }

label input:checked + .menu + ul {
  opacity: 1; }

label .menu {
  position: absolute;
  left: 0%;
  top: 10%;
  z-index: 100;
  width: 10rem;
  height: 15rem;
  background: #a7a1a7;
  border-radius: 10% 10% 10% 10%;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #000000, 0 0 0 0 #000000;
  cursor: pointer; }

label ul {
  z-index: 200;
  position: absolute;
  top: 23%;
  left: 5%;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: .25s 0s ease-in-out; }

label a {
  margin-bottom: 1em;
  display: block;
  color: #385c02;
  text-decoration: none; }

li {
  list-style-type: none; }
