@import 'settings.variables';


@mixin header {
  h1:hover {
    font-size: $fontsize;
  }
}
.main {
  margin-top: 17%;
  text-align: center;
  font-size: $fontsize;
  background-image: url(image.jpg);
  background-repeat: repeat-x;
  animation: animate 15s linear; }

@keyframes animate {
  0% {
    background-position: left 0px top 10px; }
  50% {
    background-position: left 800px top 10px; } }

.main-2 {
  margin-top: 20%;
  margin-left: 40%;
  font-size: $fontsize;
  width: 300px;
  height: 100px;
  background-color: $red;
  text-align: center;
  animation: mysecondAnimate 15s infinite;}

  @keyframes mysecondAnimate {
  from {background-color: red;}
  to {background-color: yellow;}
}
