html {
  box-sizing: border-box;
  font-size: 62.5%;
  /*1rem = 10px, allowing for easy font size calculation*/ }

*,
*:after,
*:before {
  box-sizing: inherit; }

body {
  font-family: "Raleway", sans-serif;
  color: #176171;
  font-size: 16px;
  font-size: 1.6rem; }

h1 {
  font-family: "Staatliches", cursive;
  font-size: 24px;
  font-size: 2.4rem;
  margin: auto; }

h2 {
  font-family: "Staatliches", cursive;
  margin: 1rem; }

/*BEM but drop cap isn't working as expected*/
.para {
  background-color: red; }
  .para--border {
    border: 2px dashed black; }

a {
  text-decoration: none; }

a:visited {
  color: #06181c; }

header {
  height: 20rem;
  width: 100%;
  background: linear-gradient(to left, tint(#176171, 50%), rgba(23, 97, 113, 0.5), shade(#176171, 50%));
  background-image: url("../images/header.jpg");
  background-size: 100% 175%;
  background-position: top center;
  margin: 0; }

nav ul {
  background: tint(#176171, 50%);
  /*one of the color functions not working*/
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

.go-to {
  border-radius: 50%;
  height: 50%;
  background: #28aac6;
  transition: all 2s ease-in; }
  .menu:hover .go-to {
    transform: scale(2); }

.go-to1 {
  background: rgba(23, 97, 113, 0.5); }

.neon {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff, 0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
  font-size: 24px;
  font-size: 2.4rem; }

.grid-1 {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr); }

.column {
  padding: 0;
  margin: 0; }

svg {
  background: url("../images/cheyenne.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 40vmin;
  height: auto;
  display: block;
  margin: 30vmin auto; }

text {
  font-size: 10px;
  padding: 0.25em;
  margin: 0.25em;
  transition: font-size .4s ease-out;
  font-weight: 900;
  font-family: "Raleway", sans-serif; }

svg:hover text {
  transition: font-size .4s ease-in;
  font-size: 300px; }

vertical circles .container {
  margin: 100px; }

.circle, .circle0, .circle1, .circle2, .circle3, .circle4, .circle5 {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 10px; }
  .container:hover .circle, .container:hover .circle0, .container:hover .circle1, .container:hover .circle2, .container:hover .circle3, .container:hover .circle4, .container:hover .circle5 {
    transform: translateX(200px); }

.circle0 {
  background: PaleTurquoise;
  transition: all 1.5s linear; }

.circle1 {
  background: salmon;
  transition: all 1.5s ease; }

.circle2 {
  background: lightskyblue;
  transition: all 1.5s ease-in; }

.circle3 {
  background: khaki;
  transition: all 1.5s ease-out; }

.circle4 {
  background: mediumturquoise;
  transition: all 1.5s ease-in-out; }

.circle5 {
  background: thistle;
  transition: all 1.5s cubic-bezier(0, 1, 0.98, 0); }
