//getting partials//

@import 'settings.variables';
@import 'mixins';


//setting up hamburger icon - center item//
//original source - https://www.cssscript.com/morphing-fullscreen-hamburger-menu-pure-htmlcss//

label .hamburger {
  @include initial_hamburger();
    
  }

//before and after marks//

label .hamburger:after, label .hamburger:before {
  
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: $orange;
  }
  
  //moving marks//
  label .hamburger:before { top: -10px; }
  
  label .hamburger:after { bottom: -10px; }
  
label input { display: none; }
  

label input:checked + .menu {
   box-shadow: 0 0 0 100v $white, 0 0 0 100vh $white;
    border-radius: 0;
  }
//changing from lines to x//
  
label input:checked + .menu .hamburger {
    @include transform_icon();
  }
  
label input:checked + .menu .hamburger:after {
    @include transform_icon_90();
    bottom: 0;
  }
  
label input:checked + .menu .hamburger:before {
    @include transform_icon_90();
    top: 0;
  }

  
//popping the menu//
label input:checked + .menu + ul { opacity: 1; } 

//setting up the menu box//
  label .menu {
    position: absolute;
    left: 0%;
    top: 10%;
    z-index: 100;
    width: 10rem;
    height: 15rem;
    background:$gray;
    border-radius: 10% 10% 10% 10%;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 $black, 0 0 0 0 $black;
    cursor: pointer;
  }
  
  label ul {
    z-index: 200;
    position: absolute;
    top: 23%;
    left: 5%;
    transform: translate(-100%, -50%);
    opacity: 0;
    transition: .25s 0s ease-in-out;
  }
  
//text formating

  label a {
    margin-bottom: 1em;
    display: block;
    color:$green;
    text-decoration: none;
    
  }


  //killing bullets
  li {
    list-style-type: none;
  }

  
  