//Defining Flex Box styling using mixin so we don't have to retype flexbox settings each time

//mixin to use for flexbox column where text elements need to align to the left
@mixin flexCol{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-shrink: 1;
}

//mixin to use for flexbox column where text elements are centered
@mixin flexColCenter{
  display: flex;
  flex-direction: column;
  align-items:center;


}
//mixin for main container, allow for responsive design
@mixin flexRow{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
