html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
    font-family: Arial, Helvetica, sans-serif;
}

.profile-pic {
    border-radius: 50%;
    max-width: 75%;
}

.card {
  background-color: $white;
  max-width: 86%;
  padding-left: 14%;
}

.main {
    display: grid;
    grid-template-columns: 36% 64%;
    justify-content: center;
    padding: 4% 10% 4% 10%;
    border: 3rem solid $outer;
}

// nesting divs
.headshot {
  text-align: center;
  padding-right: 10%;
  .caption {
      color: $dark;
      text-align: center;
    .title {
        font-style: italic;
      }
    }
  }

// nesting personal details within div/ Gray box
.details {
    background-color: $base-color;
    padding: 4%;
    .label {
        color: $dark;
        font-weight: bolder;
        .info {
            color: $dark;
            font-weight: lighter;
        }
      }
    }

.linkedin {
    margin-right: 3%;
}
