html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
  font-family: $font-fam;
  font-size: 1rem;
  color: $gray;
}

.main {
    padding: 2rem;
}

.card-container {
  border: solid 50px $border-gray;
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
}

h1 {
  color: $gray;
  font-size: 2rem;
  margin: .25rem .25rem .25rem 1rem;
}

h2 {
  margin: .25rem .25rem .25rem 1rem;
  font-style: italic;
  font-weight: lighter;
}

p {
  margin: 1rem;
}

i {
  margin: .5rem;
  font-size: 1.5rem;
  color: $blue;
}

.linked-in {
  margin: 0;
}

img {
  margin: 1rem;
  border-radius: 50%;
  width: 75%;
  height: auto;
}

.bold {
  font-weight: 800;
}

.profile {
  background-color: $inset-gray;
  margin: .5rem;
  height: 75%;
}
