

//Formatiing of the inside of the card



.card {
    
    display: grid;
    grid-template-columns: 33% 66%;
    width: 50rem;
    height: 25rem;
    border: 3rem solid $gray;
    padding: 3rem;
    margin: 0rem;

  }

    //Adapting to smaller screens

  @media screen and (max-width: 920px) {
    .card  {
        display: grid;
        grid-template-columns: 100%;
        width: 10rem;
        height: 30rem;
        border: 1rem solid $gray;
        padding: 3rem;
        margin: 2rem;
    }
  }


//text formatting

.text {
    &__bold {
        font-size: 2rem;
        font-weight: 900;
        color: $drk-gray;
    }
    &__normal{
        font-size: 2rem;
        font-weight:  200;
        color: $drk-gray;
    }
    &__name{
        font-size: 2rem;
        font-weight: 900;
        text-align: center;
        color: $drk-gray;
    }
    &__title{
        font-size: 2rem;
        font-weight:  200;
        text-align: center;
        color: $drk-gray;
    }

}

//Adapting to smaller screens

@media screen and (max-width: 920px) {
    .text  {
        &__bold {
            font-size: 1rem;
            font-weight: 900;
            color: $drk-gray;
        }
        &__normal{
            font-size: 1rem;
            font-weight:  200;
            color: $drk-gray;
        }
        &__name{
            font-size: 1rem;
            font-weight: 900;
            text-align: center;
            color: $drk-gray;
        }
        &__title{
            font-size: 1rem;
            font-weight:  200;
            text-align: center;
            color: $drk-gray;
        }
    }
  }


//Formating the right side where the details live

.inlay {
    background-color:$gray;
    padding: 1rem;
    margin: 1rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}

  //Adapting to smaller screens

  @media screen and (max-width: 920px) {
    .inlay  {
        background-color:$gray;
        padding: 1rem;
        margin: 0rem;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
  }

.logo-pic {
    width: 2rem;    
}



    


//Formatting the left side where the headshot lives.

.headshot {
    background-color: $white;
    padding: 1rem;
    width: 95%;
}

h1 {
    color: $black; 
    
}

.head_pic {
    border-radius: 50%;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
    //Adapting to smaller screens
@media screen and (max-width: 920px) {
    .head_pic {
        border-radius: 50%;
        width: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
  }





