// Declaration of variables

$gray: #f2f2f2;    // background color
$lg-font-gray: #8c8c8c; // fonts color
$grey-border : #d9d9d9;
$lg-fonts-size : 1.7rem; // H2 fonts size
$sm-fonts-size : 1.1rem; // Other fonts size
$white : white;
