// Colors
$gray: #808080;
$light-gray: #F5F5F5;
$white: #ffffff;
$black: #000000;
$green: #7acb00;
$pink: #ff0097;
$red: #F1352B;
$orange: #ff6600;
$yellow: #ffb617;
$robins: #01c1d6;
$purple: #6e27c5;
$blue: #150f96;


// Box Height & width

$main-box-height: 25rem; // 400px
$main-box-width: 37.5rem; //600px
$right-box-height: 15.62rem; //250px
$right-box-width: 18.75rem; //300px
$img-width: 12.5rem; //200px
$img-height: 12.5rem; //200px


//

@mixin flexbox($wrap: wrap, $justify: flex-start, $spacing: center) {
  display: flex;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $spacing;

}



//Font mixin

@mixin fontSize() {
  font-size: 1rem;
}
