
body{
  padding:2em;
  }
.card{
  background: #f4f4f4;
  padding:1em;
}
img{
  border-radius: 50%;
  width:70%;
}
h3{
  color:#767676;
}
h4,p,span{
  color:#8f8f8f;
}
.section-1 p{
  color: #707070;
}
.main{
   display:grid;
   grid-template-columns: 20% 30%;
//   background:#fdfcfc;
}
.main > div{
  padding:1em;
}
.main > .section-1{
  display:grid;
  grid-template-rows: 60% 30%;
}
.section-1 > div{
  text-align:center;
}
.section-2{
  background: #eee;
}
