@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

//
@mixin border-radius($r) {
	-webkit-border-radius: $r;
	-moz-border-radius: $r;
	-ms-border-radius: $r;
	border-radius: $r;
}

// For Mobile
@media (max-width: $breakpoint-small) {
	  .pic , .desc {width:100%;}
	  .desc { margin-top:0; }
}


@mixin border-size($s){
	border-width: $s;
}

