/*Body Element Styling*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*1rem = 10px, allowing for easy font size calculation*/
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
  font-family: $font-fam;
  @include fontSize(16);
  color: $gray;
}

.main {
    padding: 2rem;
}

.card-container {
  border: solid 50px $border-gray;
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
}

h1 {
  color: $gray;
  margin: 0 auto;
  text-align: center;
}

h2 {
  text-align: center;
  .italic {
    margin: 0 auto;
    font-style: italic;
    font-weight: lighter;
  }
}

.profile ul {
  list-style: none;
}

p {
  margin: 1rem;
  .bold {
    font-weight: 800;
  }
}

/*LinkedIn icon styling TRIED TO RESTYLE USING .SVG FILE */
i {
  margin: 0;
  color: $blue;
  /*color function to darken icon upon hover state*/
  &:hover {
    color: darken($blue, 25%);
  }
}

img {
  margin: 2rem 1rem 2rem 5rem;
  border-radius: 50%;
  width: 75%;
  height: auto;
}

/*User profile styling*/
.profile {
  background-color: $inset-gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  height: auto;
  margin: 1.5rem;
}
