html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}
h1,h2,h3,h4,h5{
	margin: 0;
	padding: 0;
}
//setting to display 2 employee cards in a row.
section{
	display: flex;
	flex-flow: row wrap;
	height: auto;
	.employee_card{
		display:flex;
		justify-content: center;
		flex-direction: column;
		margin: 0  auto;
	}
	h1{
		margin: 2% 0;
		text-align: center;
	}
}
.box {
	background: $I-bg;
	width: 800px;
	height: 350px;
	color: $primary-color;
	font-size: 1em;
	display: flex;
	align-items: center;
	justify-content:center;
	border-radius:5px;
	border:1px solid rgba(216,216,216,1);
	// Shadow effect start
	-webkit-box-shadow: 2px -2px 0px 0px rgba(216,216,216,1);
-moz-box-shadow: 2px -2px 0px 0px rgba(216,216,216,1);
box-shadow: 2px -2px 0px 0px rgba(216,216,216,1);
//Shadow effect end
	&_card{
		background: $II-bg;
		width: 90%;
		height: 80%;
			display: flex;
	align-items: center;
	justify-content:center;
		&_picture{
			flex-basis: 30%;
			img{
				width: 80%;
				border-radius:50%;
			}
			&_text{
				width: 80%;
				text-align: center;
				margin-top: 6%;
				h2{
					font-size:1.2em;
					margin-bottom: 2%;
				}
				span{
					font-size:0.8em;
					font-style: italic;
				}
		}
		}
	&_text{
		background: $III-bg;
		width: 60%;
		height: auto;
		padding: 1% 0;
		ul{
			padding: 0 0 0 5%;
		}
		li{
					list-style: none;
					margin-bottom: 3%;
					img{
						margin-right: 3%;
					}

			&:last-of-type{
				margin-top: 5%;
			}
		}
		&_bold{
			font-weight: bold;
		}
	}
	}

}