// Colors
// Colors
$gray: #F2F4F7; // card border color
$white: #ffffff; //card color
$gray2: #F5F5F5; // personal-info background
$darkgray: #707070; //text color
$black:#000000; // hover / shadow color

$box-shadow: -3px 3px 5px $black;
