// Colors
$gray: #666666;
$white: #ffffff;
$black: #000000;
$green: #7acb00;
$pink: #ff0097;
$red: #F1352B;
$orange: #ff6600;
$yellow: #ffb617;
$robins: #01c1d6;
$purple: #6e27c5;

// adding colors here
$blue: #0077B5;
$ltgray: #f2f2f2;

// Border box for the outer border
$border: 2.5rem #ebf2f9 solid;
$margin: 1rem;
$padding: 0;
$width: 98%;
$height: 96%;


// Box setup
$box-padding: 1rem;
$box-margin: 1rem;
$box-height: 50%;
