// Declaration of variables

$gray: #f2f2f2;    // background color
$lg-font-gray: #8c8c8c; // fonts color
$grey-border : #d9d9d9;
$lg-fonts-size : 1.7em; // H2 fonts size
$md-fonts-size : 1.5em; // H3 Fonts size
$sm-fonts-size : 1.3em; // Other fonts size
$lg-font-style : "Arial Black", Gadget, sans-serif; // H2 fonts style
$md-font-style : Bookman, serif; // H3 fonts style
$sm-font-style : "Lucida Sans Unicode", "Lucida Grande", sans-serif; // other fonts style
$white : white;
