body {
    margin: 2% 5%;

}

html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

// -- Adding CSS grid container for page content

.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 20% 10% 50% 20%;
}

// -- setting CSS Grid area for header
.header {
    background-color: $red;
    padding: 2rem;
    color: $white;
    grid-column: 1 / 5;
    grid-row: 1;
    text-align: center;
}

// -- setting CSS Grid area for nav
.nav {
    background-color: $green;
    padding: .25rem 0;
    color: $white;
    grid-column: 1 / 5;
    grid-row: 2;
}

// -- Adding flexbox container for nav content
.nav-ul {
    list-style: none;
    color: $white;
    display: flex;
    padding-left: 0;
}

// -- setting flexbox items for nav content
li {
    display: inline;
    flex-grow: 1;
    text-align: center;
}

// -- setting CSS Grid area for aside
.aside {
    background-color: $purple;
    padding: 2rem;
    color: $white;
    grid-column: 1 / 2;
    grid-row: 3;
    text-align: center;

}

// -- setting CSS Grid area for main content
.section {
    background-color: $orange;
    padding: 2rem;
    color: $white;
    grid-column: 2 / 5;
    grid-row: 3;
    text-align: center;

}

// -- setting CSS Grid area for footer
.footer {
    background-color: $blue;
    padding: 2rem;
    color: $white;
    grid-column: 1 / 5;
    grid-row: 4;
    text-align: center;
}
