/* Page Wrapper     */
.container {
  margin: 3rem;
  background-color: grey;
  padding: 2rem;
}
/* sections Formatting*/
.tiles {
  margin: 1rem;
  background-color: lightblue;
  padding: 0.5rem;
}
/* Submit Button Formatting */
button{
  margin: 5px;
}
/*Input Element Formatting */
input {
  margin: 3px;
}
