.static-block {
	&__title {
	  margin: 4rem 0 0;
	  font-size: 1.5rem;
	  font-family: $font-fam;
	  font-weight: 400;
	  color: $purple;
	}
	&__copy {
	  margin-bottom: 1rem;
		font-size: 1rem;
		font-family: $font-fam;
		color: $blue;
	}
	&__img {
	  display: block;
	  max-width: 100%;
	  margin: auto;
	  border: 1px solid $black;
	}
	&__content {
	  border-bottom: 1px solid $gray;
	  margin: 2rem auto;
	}
	&:only-of-type {
	  .static-block__content {
			border: none;
	  }
	}
	&:last-of-type {
	  .static-block__content {
			border: none;
	  }
	}
}